In [22]:
import pandas as pd
import os
from functools import reduce

In [23]:
tabelas = []

for i in range(5, 22):

    todas_tabelas = f"tabela_{i}.csv"

    try:

        df = pd.read_csv(todas_tabelas, encoding="utf-8")
    except UnicodeDecodeError:
        df = pd.read_csv(todas_tabelas, encoding="latin1")
        
    tabelas.append(df)
    display(df)

,UF,IBGE,Nome do MunicÃ­pio,Ãndice de Vulnerabilidade Social,NÃºmero de habitantes segundo o IBGE 2022,Faixa de Porte Populacional segundo o IBGE 2022,Ãndice de Equidade e Dimensionamento (IED)
0,AC,120001,ACRELÃNDIA,2,14.021,1-AtÃ© 20mil hab.,2
1,AC,120005,ASSIS BRASIL,2,8.100,1-AtÃ© 20mil hab.,2
2,AC,120010,BRASILÃIA,2,26.000,2-Acima de 20mil atÃ© 50mil hab.,2
3,AC,120013,BUJARI,2,12.917,1-AtÃ© 20mil hab.,2
4,AC,120017,CAPIXABA,2,10.392,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
123,AL,270940,VIÃOSA,2,23.972,2-Acima de 20mil atÃ© 50mil hab.,2
124,AM,130002,ALVARÃES,1,15.866,1-AtÃ© 20mil hab.,1
125,AM,130006,AMATURÃ,1,10.819,1-AtÃ© 20mil hab.,1
126,AM,130008,ANAMÃ,1,9.962,1-AtÃ© 20mil hab.,1
127,AM,130010,ANORI,1,17.194,1-AtÃ© 20mil hab.,1

,AM,130014,APUÃ,2,20.647,2-Acima de 20mil atÃ© 50mil hab.,2.1
0,AM,130020,ATALAIA DO NORTE,1,15.314,1-AtÃ© 20mil hab.,1
1,AM,130030,AUTAZES,1,41.564,2-Acima de 20mil atÃ© 50mil hab.,1
2,AM,130040,BARCELOS,1,18.834,1-AtÃ© 20mil hab.,1
3,AM,130050,BARREIRINHA,1,31.051,2-Acima de 20mil atÃ© 50mil hab.,1
4,AM,130060,BENJAMIN CONSTANT,1,37.648,2-Acima de 20mil atÃ© 50mil hab.,1
...,...,...,...,...,...,...,...
112,BA,290323,BARRO ALTO,2,13.453,1-AtÃ© 20mil hab.,2
113,BA,290327,BARROCAS,2,15.203,1-AtÃ© 20mil hab.,2
114,BA,290330,BARRO PRETO,1,5.833,1-AtÃ© 20mil hab.,1
115,BA,290340,BELMONTE,1,20.121,2-Acima de 20mil atÃ© 50mil hab.,1
116,BA,290350,BELO CAMPO,2,18.412,1-AtÃ© 20mil hab.,2

,BA,290360,BIRITINGA,1,15.146,1-AtÃ© 20mil hab.,1.1
0,BA,290370,BOA NOVA,1,13.690,1-AtÃ© 20mil hab.,1
1,BA,290380,BOA VISTA DO TUPIM,1,16.873,1-AtÃ© 20mil hab.,1
2,BA,290390,BOM JESUS DA LAPA,2,65.550,3-Acima de 50mil atÃ© 100mil hab.,3
3,BA,290395,BOM JESUS DA SERRA,1,9.730,1-AtÃ© 20mil hab.,1
4,BA,290400,BONINAL,2,13.622,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
140,BA,291560,ITAMARAJU,2,59.605,3-Acima de 50mil atÃ© 100mil hab.,3
141,BA,291570,ITAMARI,2,7.051,1-AtÃ© 20mil hab.,2
142,BA,291580,ITAMBÃ,2,24.394,2-Acima de 20mil atÃ© 50mil hab.,2
143,BA,291590,ITANAGRA,1,5.914,1-AtÃ© 20mil hab.,1
144,BA,291600,ITANHÃM,3,17.813,1-AtÃ© 20mil hab.,3

,BA,291610,ITAPARICA,2,19.789,1-AtÃ© 20mil hab.,2.1
0,BA,291620,ITAPÃ,2,10.341,1-AtÃ© 20mil hab.,2
1,BA,291630,ITAPEBI,2,9.174,1-AtÃ© 20mil hab.,2
2,BA,291640,ITAPETINGA,4,65.897,3-Acima de 50mil atÃ© 100mil hab.,4
3,BA,291650,ITAPICURU,1,31.679,2-Acima de 20mil atÃ© 50mil hab.,1
4,BA,291660,ITAPITANGA,2,10.279,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
108,BA,292450,PINDAÃ,2,14.731,1-AtÃ© 20mil hab.,2
109,BA,292460,PINDOBAÃU,2,19.083,1-AtÃ© 20mil hab.,2
110,BA,292465,PINTADAS,2,10.325,1-AtÃ© 20mil hab.,2
111,BA,292467,PIRAÃ DO NORTE,1,10.974,1-AtÃ© 20mil hab.,1
112,BA,292470,PIRIPÃ,2,9.171,1-AtÃ© 20mil hab.,2

,BA,292480,PIRITIBA,1,17.566,1-AtÃ© 20mil hab.,1.1
0,BA,292490,PLANALTINO,1,8.022,1-AtÃ© 20mil hab.,1
1,BA,292500,PLANALTO,2,23.334,2-Acima de 20mil atÃ© 50mil hab.,2
2,BA,292510,POÃÃES,2,48.293,2-Acima de 20mil atÃ© 50mil hab.,2
3,BA,292520,POJUCA,3,32.136,2-Acima de 20mil atÃ© 50mil hab.,3
4,BA,292525,PONTO NOVO,2,17.938,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
107,BA,293330,VITÃRIA DA CONQUISTA,3,370.879,4-Acima de 100mil hab.,4
108,BA,293340,WAGNER,2,9.503,1-AtÃ© 20mil hab.,2
109,BA,293345,WANDERLEY,2,12.968,1-AtÃ© 20mil hab.,2
110,BA,293350,WENCESLAU GUIMARÃES,1,24.474,2-Acima de 20mil atÃ© 50mil hab.,1
111,BA,293360,XIQUE-XIQUE,2,44.757,2-Acima de 20mil atÃ© 50mil hab.,2

,CE,230010,ABAIARA,2,10.038,1-AtÃ© 20mil hab.,2.1
0,CE,230015,ACARAPE,2,14.027,1-AtÃ© 20mil hab.,2
1,CE,230020,ACARAÃ,1,65.264,3-Acima de 50mil atÃ© 100mil hab.,2
2,CE,230030,ACOPIARA,2,44.962,2-Acima de 20mil atÃ© 50mil hab.,2
3,CE,230040,AIUABA,2,14.076,1-AtÃ© 20mil hab.,2
4,CE,230050,ALCÃNTARAS,2,11.369,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
503,GO,522190,VARJÃO,4,3.716,1-AtÃ© 20mil hab.,3
504,GO,522200,VIANÃPOLIS,4,14.956,1-AtÃ© 20mil hab.,3
505,GO,522205,VICENTINÃPOLIS,2,8.768,1-AtÃ© 20mil hab.,2
506,GO,522220,VILA BOA,3,4.215,1-AtÃ© 20mil hab.,3
507,GO,522230,VILA PROPÃCIO,4,5.815,1-AtÃ© 20mil hab.,3

,MA,210005,AÃAILÃNDIA,3,106.550,4-Acima de 100mil hab.,4
0,MA,210010,AFONSO CUNHA,1,6.144,1-AtÃ© 20mil hab.,1
1,MA,210015,ÃGUA DOCE DO MARANHÃO,1,12.142,1-AtÃ© 20mil hab.,1
2,MA,210020,ALCÃNTARA,1,18.467,1-AtÃ© 20mil hab.,1
3,MA,210030,ALDEIAS ALTAS,1,23.286,2-Acima de 20mil atÃ© 50mil hab.,1
4,MA,210040,ALTAMIRA DO MARANHÃO,1,6.447,1-AtÃ© 20mil hab.,1
...,...,...,...,...,...,...,...
211,MA,211280,VIANA,1,51.442,3-Acima de 50mil atÃ© 100mil hab.,2
212,MA,211285,VILA NOVA DOS MARTÃRIOS,1,10.362,1-AtÃ© 20mil hab.,1
213,MA,211290,VITÃRIA DO MEARIM,1,30.805,2-Acima de 20mil atÃ© 50mil hab.,1
214,MA,211300,VITORINO FREIRE,1,30.845,2-Acima de 20mil atÃ© 50mil hab.,1
215,MA,211400,ZÃ DOCA,1,40.801,2-Acima de 20mil atÃ© 50mil hab.,1

,MG,310010,ABADIA DOS DOURADOS,4,6.272,1-AtÃ© 20mil hab.,3
0,MG,310020,ABAETÃ,4,22.675,2-Acima de 20mil atÃ© 50mil hab.,4
1,MG,310030,ABRE CAMPO,4,13.927,1-AtÃ© 20mil hab.,3
2,MG,310040,ACAIACA,3,3.909,1-AtÃ© 20mil hab.,3
3,MG,310050,AÃUCENA,1,8.943,1-AtÃ© 20mil hab.,1
4,MG,310060,ÃGUA BOA,2,12.589,1-AtÃ© 20mil hab.,2
...,...,...,...,...,...,...,...
460,MG,314010,MARILAC,3,4.224,1-AtÃ© 20mil hab.,3
461,MG,314015,MÃRIO CAMPOS,3,15.900,1-AtÃ© 20mil hab.,3
462,MG,314020,MARIPÃ DE MINAS,4,3.387,1-AtÃ© 20mil hab.,3
463,MG,314030,MARLIÃRIA,4,4.592,1-AtÃ© 20mil hab.,3
464,MG,314040,MARMELÃPOLIS,3,3.200,1-AtÃ© 20mil hab.,3

,MG,314050,MARTINHO CAMPOS,4,14.003,1-AtÃ© 20mil hab.,3
0,MG,314053,MARTINS SOARES,4,8.396,1-AtÃ© 20mil hab.,3
1,MG,314055,MATA VERDE,2,9.112,1-AtÃ© 20mil hab.,2
2,MG,314060,MATERLÃNDIA,1,3.963,1-AtÃ© 20mil hab.,1
3,MG,314070,MATEUS LEME,3,37.841,2-Acima de 20mil atÃ© 50mil hab.,3
4,MG,314080,MATIAS BARBOSA,4,14.121,1-AtÃ© 20mil hab.,3
...,...,...,...,...,...,...,...
381,MG,317180,VIRGINÃPOLIS,3,10.314,1-AtÃ© 20mil hab.,3
382,MG,317190,VIRGOLÃNDIA,2,4.552,1-AtÃ© 20mil hab.,2
383,MG,317200,VISCONDE DO RIO BRANCO,4,39.160,2-Acima de 20mil atÃ© 50mil hab.,4
384,MG,317210,VOLTA GRANDE,4,4.443,1-AtÃ© 20mil hab.,3
385,MG,317220,WENCESLAU BRAZ,3,2.356,1-AtÃ© 20mil hab.,3

,MS,500020,ÃGUA CLARA,3,16.741,1-AtÃ© 20mil hab.,3.1
0,MS,500025,ALCINÃPOLIS,4,4.537,1-AtÃ© 20mil hab.,3
1,MS,500060,AMAMBAI,3,39.325,2-Acima de 20mil atÃ© 50mil hab.,3
2,MS,500070,ANASTÃCIO,3,24.114,2-Acima de 20mil atÃ© 50mil hab.,3
3,MS,500080,ANAURILÃNDIA,4,7.653,1-AtÃ© 20mil hab.,3
4,MS,500085,ANGÃLICA,3,10.729,1-AtÃ© 20mil hab.,3
...,...,...,...,...,...,...,...
358,PA,150815,URUARÃ,1,43.558,2-Acima de 20mil atÃ© 50mil hab.,1
359,PA,150820,VIGIA,2,50.832,3-Acima de 50mil atÃ© 100mil hab.,3
360,PA,150830,VISEU,1,58.692,3-Acima de 50mil atÃ© 100mil hab.,2
361,PA,150835,VITÃRIA DO XINGU,1,15.607,1-AtÃ© 20mil hab.,1
362,PA,150840,XINGUARA,3,52.893,3-Acima de 50mil atÃ© 100mil hab.,3

,PB,250010,ÃGUA BRANCA,2,9.335,1-AtÃ© 20mil hab.,2.1
0,PB,250020,AGUIAR,3,5.003,1-AtÃ© 20mil hab.,3
1,PB,250030,ALAGOA GRANDE,1,26.062,2-Acima de 20mil atÃ© 50mil hab.,1
2,PB,250040,ALAGOA NOVA,2,21.013,2-Acima de 20mil atÃ© 50mil hab.,2
3,PB,250050,ALAGOINHA,2,13.725,1-AtÃ© 20mil hab.,2
4,PB,250053,ALCANTIL,1,5.578,1-AtÃ© 20mil hab.,1
...,...,...,...,...,...,...,...
402,PE,261618,VERTENTE DO LÃRIO,2,7.558,1-AtÃ© 20mil hab.,2
403,PE,261620,VERTENTES,2,21.959,2-Acima de 20mil atÃ© 50mil hab.,2
404,PE,261630,VICÃNCIA,2,26.355,2-Acima de 20mil atÃ© 50mil hab.,2
405,PE,261640,VITÃRIA DE SANTO ANTÃO,2,134.084,4-Acima de 100mil hab.,3
406,PE,261650,XEXÃU,1,11.611,1-AtÃ© 20mil hab.,1

     PI  220005               ACAUÃ  2    6.420       1-AtÃ© 20mil hab.  2.1
0    PI  220010        AGRICOLÃNDIA  1    4.940       1-AtÃ© 20mil hab.    1
1    PI  220020         ÃGUA BRANCA  3   17.573       1-AtÃ© 20mil hab.    3
2    PI  220025  ALAGOINHA DO PIAUÃ  2    6.819       1-AtÃ© 20mil hab.    2
3    PI  220027   ALEGRETE DO PIAUÃ  2    4.634       1-AtÃ© 20mil hab.    2
4    PI  220030          ALTO LONGÃ  2   13.479       1-AtÃ© 20mil hab.    2
..   ..     ...                  ... ..      ...                     ...  ...
429  PR  411500             MARILENA  4    7.253       1-AtÃ© 20mil hab.    3
430  PR  411510              MARILUZ  3    9.847       1-AtÃ© 20mil hab.    3
431  PR  411520             MARINGÃ  5  409.657  4-Acima de 100mil hab.    4
432  PR  411530          MARIÃPOLIS  4    6.371       1-AtÃ© 20mil hab.    3
433  PR  411535              MARIPÃ  5    6.555       1-AtÃ© 20mil hab.    4

[434 rows x 7 columns]

     PR  411540   MARMELEIRO  4  15.901                 1-AtÃ© 20mil hab.  3
0    PR  411545    MARQUINHO  3   4.515                 1-AtÃ© 20mil hab.  3
1    PR  411550      MARUMBI  4   4.699                 1-AtÃ© 20mil hab.  3
2    PR  411560  MATELÃNDIA  4  18.450                 1-AtÃ© 20mil hab.  3
3    PR  411570     MATINHOS  4  39.259  2-Acima de 20mil atÃ© 50mil hab.  4
4    PR  411573    MATO RICO  3   3.267                 1-AtÃ© 20mil hab.  3
..   ..     ...          ... ..     ...                               ... ..
441  RN  241470      VÃRZEA  3   5.233                 1-AtÃ© 20mil hab.  3
442  RN  241475    VENHA-VER  1   3.014                 1-AtÃ© 20mil hab.  1
443  RN  241480    VERA CRUZ  3  10.735                 1-AtÃ© 20mil hab.  3
444  RN  241490      VIÃOSA  3   1.822                 1-AtÃ© 20mil hab.  3
445  RN  241500    VILA FLOR  2   3.174                 1-AtÃ© 20mil hab.  2

[446 rows x 7 columns]

,RO,110001,ALTA FLORESTA D'OESTE,3,21.494,2-Acima de 20mil atÃ© 50mil hab.,3.1
0,RO,110002,ARIQUEMES,4,96.833,3-Acima de 50mil atÃ© 100mil hab.,4
1,RO,110003,CABIXI,4,5.351,1-AtÃ© 20mil hab.,3
2,RO,110004,CACOAL,4,86.887,3-Acima de 50mil atÃ© 100mil hab.,4
3,RO,110005,CEREJEIRAS,4,15.890,1-AtÃ© 20mil hab.,3
4,RO,110006,COLORADO DO OESTE,4,15.663,1-AtÃ© 20mil hab.,3
...,...,...,...,...,...,...,...
466,RS,431890,SÃO LUIZ GONZAGA,4,34.752,2-Acima de 20mil atÃ© 50mil hab.,4
467,RS,431900,SÃO MARCOS,5,21.084,2-Acima de 20mil atÃ© 50mil hab.,4
468,RS,431910,SÃO MARTINHO,4,5.481,1-AtÃ© 20mil hab.,3
469,RS,431912,SÃO MARTINHO DA SERRA,3,2.860,1-AtÃ© 20mil hab.,3
470,RS,431915,SÃO MIGUEL DAS MISSÃES,4,7.056,1-AtÃ© 20mil hab.,3

,RS,431920,SÃO NICOLAU,3,5.118,1-AtÃ© 20mil hab.,3.1
0,RS,431930,SÃO PAULO DAS MISSÃES,4,5.846,1-AtÃ© 20mil hab.,3
1,RS,431935,SÃO PEDRO DA SERRA,5,3.548,1-AtÃ© 20mil hab.,4
2,RS,431936,SÃO PEDRO DAS MISSÃES,4,1.757,1-AtÃ© 20mil hab.,3
3,RS,431937,SÃO PEDRO DO BUTIÃ,5,3.070,1-AtÃ© 20mil hab.,4
4,RS,431940,SÃO PEDRO DO SUL,4,15.577,1-AtÃ© 20mil hab.,3
...,...,...,...,...,...,...,...
456,SE,280720,SIRIRI,2,7.834,1-AtÃ© 20mil hab.,2
457,SE,280730,TELHA,3,3.274,1-AtÃ© 20mil hab.,3
458,SE,280740,TOBIAS BARRETO,2,50.905,3-Acima de 50mil atÃ© 100mil hab.,3
459,SE,280750,TOMAR DO GERU,1,12.012,1-AtÃ© 20mil hab.,1
460,SE,280760,UMBAÃBA,2,23.917,2-Acima de 20mil atÃ© 50mil hab.,2

,SP,350010,ADAMANTINA,5,34.687,2-Acima de 20mil atÃ© 50mil hab.,4
0,SP,350020,ADOLFO,4,4.351,1-AtÃ© 20mil hab.,3
1,SP,350030,AGUAÃ,4,32.072,2-Acima de 20mil atÃ© 50mil hab.,4
2,SP,350040,ÃGUAS DA PRATA,5,7.369,1-AtÃ© 20mil hab.,4
3,SP,350050,ÃGUAS DE LINDÃIA,5,17.930,1-AtÃ© 20mil hab.,4
4,SP,350055,ÃGUAS DE SANTA BÃRBARA,5,7.177,1-AtÃ© 20mil hab.,4
...,...,...,...,...,...,...,...
395,SP,353520,PALMEIRA D'OESTE,4,8.903,1-AtÃ© 20mil hab.,3
396,SP,353530,PALMITAL,5,19.594,1-AtÃ© 20mil hab.,4
397,SP,353540,PANORAMA,4,14.964,1-AtÃ© 20mil hab.,3
398,SP,353550,PARAGUAÃU PAULISTA,4,41.120,2-Acima de 20mil atÃ© 50mil hab.,4
399,SP,353560,PARAIBUNA,4,17.667,1-AtÃ© 20mil hab.,3

,SP,353570,PARAÃSO,4,6.099,1-AtÃ© 20mil hab.,3
0,SP,353580,PARANAPANEMA,4,19.395,1-AtÃ© 20mil hab.,3
1,SP,353590,PARANAPUÃ,5,4.031,1-AtÃ© 20mil hab.,4
2,SP,353600,PARAPUÃ,4,10.580,1-AtÃ© 20mil hab.,3
3,SP,353610,PARDINHO,5,7.153,1-AtÃ© 20mil hab.,4
4,SP,353620,PARIQUERA-AÃU,4,19.233,1-AtÃ© 20mil hab.,3
...,...,...,...,...,...,...,...
378,TO,172125,TUPIRAMA,4,1.909,1-AtÃ© 20mil hab.,3
379,TO,172130,TUPIRATINS,2,1.874,1-AtÃ© 20mil hab.,2
380,TO,172208,WANDERLÃNDIA,3,10.522,1-AtÃ© 20mil hab.,3
381,TO,172210,XAMBIOÃ,2,10.517,1-AtÃ© 20mil hab.,2
382,Total,Total,5.570 municÃ­pios,5.570 municÃ­pios,5.570 municÃ­pios,5.570 municÃ­pios,5.570 municÃ­pios

In [24]:
colunas_chave = ['UF', 'IBGE', 'Nome do MunicÃ­pio', 'Ãndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ãndice de Equidade e Dimensionamento (IED)']

In [29]:
for i, df in enumerate(tabelas):
    colunas_faltantes = [col for col in colunas_chave if col not in df.columns]
    if colunas_faltantes:
        print(f"⚠️ Tabela {i+5} ({todas_tabelas}) não tem as colunas: {colunas_faltantes}")

⚠️ Tabela 6 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 7 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 8 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 9 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 10 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 11 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 12 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 13 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 14 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 15 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 16 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 17 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 18 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 19 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 20 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']
⚠️ Tabela 21 (tabela_21.csv) não tem as colunas: ['UF', 'IBGE', 'Nome do MunicÃ\xadpio', 'Ã\x8dndice de Vulnerabilidade Social', 'NÃºmero de habitantes segundo o IBGE 2022', 'Faixa de Porte Populacional segundo o IBGE 2022', 'Ã\x8dndice de Equidade e Dimensionamento (IED)']

In [ ]:
tabelas_validas = [df for df in tabelas if all(col in df.columns for col in colunas_chave)]

In [ ]:
tabela_mesclada = reduce(lambda left, right: pd.merge(left, right, on=colunas_chave, how="outer"), tabelas)

In [27]:
tabela_mesclada.to_csv("tabelas_mescladas.csv", encoding="utf-8", index=False)

NameError: name 'tabela_mesclada' is not defined

In [ ]:
print("Tabelas mescladas e salvas em 'tabelas_mescladas.csv'")